.banner{
    background-image: url('https://wallpaperaccess.com/full/2703652.png');

    /* Combining background-size: cover; with a specified height allows you to control how the background image fills the container. It ensures the image covers the area while maintaining a consistent height for design purposes.*/
    background-size:cover ;/* the image will be scaled to cover the entire background of the .banner element. It ensures the entire area of .banner is filled with the image, without stretching or distorting it.*/
    height: 448px;

    color: white;
}

.content{
   padding-top: 140px; /*This property adds 140 pixels of padding to the top of the .content element. Padding is the space between the content inside an element and its border. In this case, the top of .content will have extra space of 140 pixels before its content starts.*/
   height: 190px; /*This sets the height of the .content element(div with class element) to 190 pixels*/
   padding-left: 15px;
}

.title{
    font-size: 3rem; /*3rem is typically equivalent to 48 pixels,Default font sixe of html is 16px*/
    font-weight: 800; /*text turn to bold*/
    padding-bottom: 0.3rem;
}

.banner-buttons{

}

.button{
    color: white;
    outline: none;/*Removes the default focus outline that appears when the button is focused using the keyboard.*/
    border: none; /* Removes the default border around the button.*/
    font-weight: 700;
    border-radius: 5px;/*Rounds the corners of the button*/
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(51, 51, 51,.5);
    cursor: pointer; /*Changes the cursor to a pointer (typically a hand icon) */
    margin-right: 1rem;

}

.button:hover{ /*This defines a CSS rule that targets the .button class when it is being hovered over by the cursor (:hover pseudo-class).*/
    color: black;
    background-color: #e6e6e6;
}

.description{
    width: 45rem; /*width: 45rem(720px): Sets the width of the .description element to 45rem. rem is a unit relative to the font size of the root element (html), so 45rem means forty-five times the size of the root element's font size.*/
    line-height: 1.3rem; /* Line height for text */
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    max-width: 360px; /* Maximum width of the element */

}

.fade_bottom{
    height:7.4rem;
    background-image:linear-gradient(180deg,transparent,rgba(37,37,37),#111);
    /*
    180deg indicates that the gradient is vertical (from top to bottom). where 0deg is top to bottom
    transparent is the starting color of the gradient at the top.
    rgba(37, 37, 37, 1) is a semi-transparent dark gray color defined using RGBA notation. The rgba values are 37 for red, 37 for green, 37 for blue, and 1 for full opacity.it is in the midddle
    #111 is a solid dark gray color defined using hexadecimal notation.*/
}